.car-list {
  padding: 0;
}

.car-list-item {
  display: flex;
  width: 100%;
  justify-content: space-between;
  justify-self: center;
  align-items: center;
  margin-bottom: 0.5rem;
  border-radius: 8px;
  background-color: #1a1a1a;
}

.car-title {
  margin: 0;
  padding-left: 1.2em;
}
